# Project
COMPOSE_PROJECT_NAME=personal-blog

# Nginx
NGINX_PORT=8080

# MySQL
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=personal_blog
MYSQL_USER=personal_blog
MYSQL_PASSWORD=change_me

# Common
TZ=Asia/Seoul
